 /* Add some basic styling for the navigation bar */
 /* Add some basic styling for the navigation bar */
 ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.navitem {
    float: left;
}

li.navitem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.navitem a:hover {
    background-color: #555;
}
article {
    float: right;
    padding: 20px;
    width: 70%;
    background-color: #f1f1f1;
    height: 400px;
  }
footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
@layer codepen {
 
  .container {
    display:grid;
    outline:1px dashed red;
    width:100%;
    max-width:1920px;
    gap:2em;
    padding:2em;
    &.native {
      grid-template-columns:repeat(auto-fit, minmax(300px, 1fr));
    }
  }
  .box {
    padding          : 1.2rem 1.6rem;
    color            : white;
    border-radius    : 1em;
    background-color : var(--background-colour, darkslategray);
  }
 
}






:root{
    /*
    - line height (line spacing) to at least 1.5 times the font size.
    The 1.4.12 requirements from WcAG 2.2 https://www.w3.org/TR/WcAG22/#text-spacing


    - spacing following paragraphs to at least 2 times the font size;
    The 1.4.12 requirements from WcAG 2.2 https://www.w3.org/TR/WcAG22/#text-spacing
    This gap should be computed taking into account the line-height
    */


    --uds-typography-main-line-height: var(--ds-typography-main-line-height, 1.75);
    --uds-typography-main-margin: var(--ds-typography-main-margin, 1.25em);
}


html{
    font-family: var(--ds-typography-main-font-family, -apple-system, BlinkmacsystemFont, segoe UI, Roboto, Open sans, Ubuntu, Fira sans, Helvetica Neue, sans-serif);
    font-size: var(--ds-typography-main-font-size, 1rem);
    color: var(--ds-typography-main-color, #222);
}


p:not([class]){
    line-height: var(--ds-typography-paragraph-line-height, var(--uds-typography-main-line-height));
    margin-block-start: var(--ds-typography-paragraph-margin-block-start, var(--uds-typography-main-margin));
    margin-block-end: 0;
}


ul:not([class]),
ol:not([class]){
    line-height: var(--ds-typography-list-line-height, var(--uds-typography-main-line-height));
    margin-block-start: var(--ds-typography-list-margin-block-start, var(--uds-typography-main-margin));
    margin-block-end: 0;
}


p:not([class]):first-child{
    --ds-typography-paragraph-margin-block-start: 0;
}


*:not(li) > ul:not([class]):first-child,
*:not(li) > ol:not([class]):first-child{
    /*
    When you import the nested list addon this at-rule
    shouldn't match to nested lists. so I use the * selector to reach that.
    */
    --ds-typography-list-margin-block-start: 0;
}


li:not([class]):nth-child(n+2){
    margin-block-start: var(--ds-typography-list-item-margin-block-start, .75em);
}


h1:not([class]),
h2:not([class]),
h3:not([class]),
h4:not([class]),
h5:not([class]),
h6:not([class]){
    margin-block-start: var(--ds-typography-heading-margin-block-start, 1em);
    margin-block-end: var(--ds-typography-heading-margin-block-end, .25em);
    line-height: var(--ds-typography-heading-line-height, var(--uds-typography-main-line-height));
    font-family: var(--ds-typography-heading-font-family, inherit);
}


h1:not([class]):first-child,
h2:not([class]):first-child,
h3:not([class]):first-child,
h4:not([class]):first-child,
h5:not([class]):first-child,
h6:not([class]):first-child{
    margin-block-start: 0;
}


h1:not([class]){
    font-size: var(--ds-typography-h1-font-size, 2rem);
}


h2:not([class]){
    font-size: var(--ds-typography-h2-font-size, 1.75rem);
}


h3:not([class]){
    font-size: var(--ds-typography-h3-font-size, 1.5rem);
}


h4:not([class]){
    font-size: var(--ds-typography-h4-font-size, 1.375rem);
}


h5:not([class]){
    font-size: var(--ds-typography-h5-font-size, 1.25rem);
}


h6:not([class]){
    font-size: var(--ds-typography-h6-font-size, 1.125rem);
}


a[href]:not([class]){
    color: var(--ds-typography-link-color, #111);
}


img{
    display: var(--ds-typography-img-display, block);
    max-width: var(--ds-typography-img-max-width, 100%);
}


/*
=====
HELPERS
=====
*/


.ha-screen-reader{
    width: var(--ha-screen-reader-width, 1px);
    height: var(--ha-screen-reader-height, 1px);
    padding: var(--ha-screen-reader-padding, 0);
    border: var(--ha-screen-reader-border, none);


    position: var(--ha-screen-reader-position, absolute);
    clip-path: var(--ha-screen-reader-clip-path, rect(1px, 1px, 1px, 1px));
    overflow: var(--ha-screen-reader-overflow, hidden);
}




.ha-icontext{
    display: var(--ha-icontext-display, flex);
    gap: var(--ha-icontext-gap, .5rem);
    align-items: var(--ha-icontext-align-items, center);
}


/*
=====
RESET
=====
*/


.ra-heading{
    margin-block: var(--ra-heading-margin-block-start, 0) var(--ra-heading-margin-block-end, 0);
}


.ra-link{
    display: var(--ra-link-display, inline-flex);
}


.ra-link[href]{
    color: var(--ra-link-color);
    text-decoration: var(--ra-link-text-decoration, none);
}


.ra-list{
    padding-inline-start: var(--ra-list-padidng-inline-start, 0);
    margin-block-start: var(--ra-list-margin-block-start, 0);
    margin-block-end: var(--ra-list-margin-block-end, 0);
    list-style: var(--ra-list-list-style, none);
}


.ra-address{
    font-style: var(--ra-address-font-style, normal);
}


.ra-blockquote{
    margin: var(--ra-blockquote-margin,
        var(--ra-blockquote-margin-block-start, 0)
        var(--ra-blockquote-margin-inline-end, 0)
        var(--ra-blockquote-margin-block-end, 0)
        var(--ra-blockquote-margin-inline-start, 0));  
}
/*
=====
COMPONENTS
=====
*/
/*
=====
UIA-HEADING
=====
*/


[data-uia-heading-skin="skin-2"] .uia-heading{
    --_uia-heading-line-color: #3a3c8d;
    --_uia-heading-dot-size: var(
    --uia-heading-dot-size, .25rem);
    --_uia-heading-dot-color: var(
    --uia-heading-dot-color, var(--_uia-heading-line-color));
    position: relative;
    display: var(--uia-heading-display, flex);
    gap: var(--uia-heading-gap, .5rem);
    align-items: var(--uia-heading-align-items, baseline);
}


[data-uia-heading-skin="skin-2"] .uia-heading::before{
    content: "";
    inline-size: var(--uia-heading-width, 50px);
    block-size: var(--uia-heading-height, 2px);
    flex: none;


    align-self: center;
    background-color: var(--_uia-heading-line-color);
}


[data-uia-heading-skin="skin-2"] .uia-heading__text{
    text-wrap: nowrap;
}


[data-uia-heading-skin="skin-2"] .uia-heading__text::after{
    content: "";
    display: var(--uia-heading-dot-display, inline-block);
    width: var(--_uia-heading-dot-size);
    height: var(--_uia-heading-dot-size);
    margin-inline-start: var(--uia-heading-dot-gap, .5rem);


    border-radius: 50%;
    background-color: var(--_uia-heading-dot-color);
}


/*
=====
UIA-CONTROL
=====
*/


.uia-control{
    cursor: var(--uia-control-cursor, var(--_uia-control-cursor, pointer));
}


.uia-control__group{
    line-height: var(--uia-control-line-height, 1);
}


.uia-control{
    --ha-icontext-gap: var(--uia-control-gap, .5rem);
    --_uia-control-padding_default: 0;


    --_uia-control-border-width: var(--uia-control-border-width);
    --_uia-control-border-style: var(--uia-control-border-style, solid);
    --_uia-control-border-color: var(--uia-control-border-color, currentcolor);


    --_uia-control-padding: var(--uia-control-padding,
        var(
            --uia-control-padding-block-start,
            var(--_uia-control-padding_default)
        )
        var(
            --uia-control-padding-inline-end,
            var(--_uia-control-padding_default)
        )
        var(
            --uia-control-padding-block-end,
            var(--_uia-control-padding_default)
        )
        var(
            --uia-control-padding-inline-start,
            var(--_uia-control-padding_default)
        )
    );
    --_uia-control-border: var(--_uia-control-border-width) var(--_uia-control-border-style) var(--_uia-control-border-color);
    --_uia-control-border-radius: var(--uia-control-border-radius, .25rem);
}


.uia-control__group{
    padding: var(--_uia-control-padding);


    border: var(--_uia-control-border);
    border-radius: var(--_uia-control-border-radius);
    background-image: linear-gradient(
        var(--uia-control-background-degree, 135deg),
        var(
            --uia-control-background-start-color,
            var(--uia-control-background-color)
        ) 0,
        var(
            --uia-control-background-end-color,
            var(--uia-control-background-color)
        ) 100%
    );
}


[data-uia-control-skin="skin-4"] .uia-control{
    position: relative;
    isolation: isolate;
}


[data-uia-control-skin="skin-4"]  .uia-control::before{
    content: "";
    display: var(--uia-control-line-display);
    inline-size: var(--uia-control-line-width, 100%);
    block-size: var(--uia-control-line-start-height, .25rem);
    background-color: var(--uia-control-line-color, currentcolor);


    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    z-index: -1;
}


[data-uia-control-skin="skin-4"]  .uia-control:hover::before{
    block-size: var(--uia-control-line-end-height, 100%);
}


@media (prefers-reduced-motion: no-preference){


    [data-uia-control-skin="skin-4"] .uia-control::before{
        will-change: block-size;
        transform-origin: left bottom;


        transition-property: block-size;
        transition-duration: .1s;
        transition-timing-function: ease-out;
    }


    .uia-control:hover::before{
        transition-duration: .15s;
    }
}


/*
=====
FEEDBAcK
=====
*/


.uia-feedback__author{
    display: var(--feedback-author-display, inline-flex);
    gap: var(--feedback-author-gap, .5rem);
    align-items: var(--feedback-author-aling-items, center);
}  


.uia-feedback__author::before{
    content: "";
    display: inline-flex;
    width: var(--uia-feedback-line-width, 1.5rem);
    height: var(--uia-feedback-line-height, 2px);
    background-color: var(--uia-feedback-line-color, currentcolor);
}


.uia-feedback__author{
    font-weight: 700;
}


.uia-feedback__footer{
    text-align: var(--uia-feedback-author-position, end);
}


[data-uia-feedback-skin="skin-1"] .uia-feedback{
    height: 100%;
    display: flex;
    flex-direction: column;
}
[data-uia-feedback-skin="skin-1"] .uia-feedback__footer{
    margin-block-start: auto;
    padding-block-start: var(--space-s);
}


/*
=====
UIA-SCROLLER
=====
*/


.uia-scroller{
    display: var(--uia-scroller-display, flex);
    gap: var(--uia-scroller-gap, 0);
    overflow: var(--uia-scroller-overflow-x, auto) var(--uia-scroller-overflow-y, auto);
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: var(--uia-scroller-overscroll-behavior-inline, contain) var(--uia-scroller-overscroll-behavior-block, contain);
    scroll-snap-type: var(--uia-scroller-scroll-snap-type, x mandatory);
}


.uia-scroller__item{
    inline-size: var(--uia-scroller-item-inline-size, calc(100% / var(--uia-scroller-visible-items-number, 1)));
    flex: none;
    scroll-snap-align: var(--uia-scroller-scroll-snap-align, start);
}


.uia-scroller::-webkit-scrollbar {
    inline-size: var(--uia-scroller-scrollbar-width);
    block-size: var(--uia-scroller-scrollbar-height);
}


.uia-scroller::-webkit-scrollbar-thumb{
    background-color: var(--uia-scroller-thumb-color);
}


.uia-scroller::-webkit-scrollbar-track{
    background-color: var(--uia-scroller-track-color);
}


/*
=====
UIA-LOGO
=====
*/


.uia-logo{
    display: var(--uia-logo-display, grid);
    gap: var(--uia-logo-gap, .5rem);


    font-size: var(--uia-logo-font-size, .75rem);  
    font-weight: var(--uia-logo-font-weight, 700);
    color: var(--uia-logo-color);
    text-transform: var(--uia-logo-text-transform, uppercase);
}


.uia-logo__first-name{
    width: fit-content;
    padding:  var(--uia-logo-first-name-padding, .25rem .75rem);
    color: var(--uia-logo-first-name-color);
    line-height: 1;
    background-color: #6d47d9;
}


.uia-logo__last-name{
    padding-inline-start: var(--uia-logo-last-name-gap, .75rem);


    line-height: 1;
    font-size: var(--uia-logo-last-name-font-size, 1.75em);
    color: var(--uia-logo-last-name-color);
}


/*
=====
UIA-TIMELINE
=====
*/


.uia-timeline{
    display: var(--uia-timeline-display, grid);
    gap: var(--uia-timeline-groups-gap, 2.5rem);
}


.uia-timeline__date{
    font-weight: var(--uia-timeline-date-font-weight, 400);
    font-size: var(--uia-timeline-date-font-size, .75rem);
}


.uia-timeline__name{
    font-size: var(--uia-timeline-name-font-size);
}


[data-uia-timeline-skin="skin-1"] .uia-timeline__name{
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: var(--uia-timeline-name-gap, .5rem);
}


[data-uia-timeline-skin="skin-1"] .uia-timeline__date{
    grid-row: 1;
    grid-column: 2;
}


[data-uia-timeline-skin="skin-1"] .uia-timeline__role{
    grid-column: span 2;
}


[data-uia-timeline-skin="skin-1"] .uia-timeline__step{
    line-height: 1;
    font-size: var(--uia-timeline-step-font-size, 2rem);
    font-weight: var(--uia-timeline-step-font-weight, 700);
    color: var(--uia-timeline-step-color);
}


[data-uia-timeline-skin="skin-1"] .uia-timeline__point-description{
    margin-block-start: var(--uia-timeline-group-gap, 1rem);
    width: min(100%, var(--uia-timeline-content-max-width));
}


/*
=====
TEMPLATE CORE STYLES
=====
*/


@media (max-width: 300px){


    :root{
        --html-font-size: 75%; /* 12px */
    }
}


@media (min-width: 1025px) and (max-width: 1200px){


    :root{
        --html-font-size: 106.25%; /* 17px */
    }
}


@media (min-width: 1201px) and (max-width: 1900px){


    :root{
        --html-font-size: 118.75%; /* 19px */
    }
}


@media (min-width: 1901px){


    :root{
        --html-font-size: 131.25%; /* 21px */
    }
}


body{
    margin: 0;
}


.page{
    --space-2xs: .25rem;
    --space-xs:  .5rem;
    --space-s:   .75rem;
    --space-m:   1rem;
    --space-l:   1.25rem;
    --space-xl:  1.5rem;
    --space-2xl: 1.75rem;  
    --space-3xl: 2rem;  
    --space-4xl: 3rem;  


    --font-size-2xs: .72222rem;
    --font-size-xs: .8333rem;
    --font-size-s: .88889rem;
    --font-size-m: 1rem;
    --font-size-l: 1.25rem;
    --font-size-xl: 1.44444rem;
    --font-size-2xl: 1.66667rem;


    --accent-mode-color: #222;
    --main-mode-color: #fcfcfc;


    --assistive-color-light: #fafafa;
    --assistive-color: #eee;


    --main-color: #fed330;
    --main-color-dark: #fbc604;


    --accent-color: #6d47d9;
    --accent-color-dark: #5130b3;


    --ds-typography-link-color: var(--accent-color);
    --ds-typography-paragraph-margin-block-start: 1rem;


    --ds-focus-outline-width: 2px;
    --ds-focus-outline-color: var(--accent-color);
   
    --uia-heading-line-color: var(--main-color);
    --uia-heading-dot-size: 5px;    


    --page-text-max-width: 70ch;
    --page-material-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);


    font-size: var(--html-font-size);
}


@media (prefers-color-scheme: dark){


    .page{
        --accent-mode-color: #ebecef;
        --main-mode-color: #1e2229;


        --assistive-color-light: #272c35;
        --assistive-color: #363c49;


        --main-color: #3a3c8d;
        --main-color-dark: #292a65;


        --accent-color: #d8dede;
        --accent-color-dark: #748989;
    }  
}


:focus-visible{
    outline: var(--ds-focus, var(--ds-focus-outline-width, 1px) var(--ds-focus-outline-style, solid) var(--ds-focus-outline-color, currentColor));
    outline-offset: var(--ds-focus-outline-offset, .25rem);
}


::selection{
    background-color: var(--accent-color-dark);
    color: var(--main-mode-color);
}


/*
=====
PAGE
=====
*/


.page{
    position: relative;
    color: var(--accent-mode-color);
}


.page__header{
    --uia-scroller-item-inline-size: auto;  
    --uia-scroller-scroll-snap-type: none;  
    --uia-scroller-gap: var(--space-l);
    --uia-scroller-scrollbar-height: 0;
    --uia-scroller-thumb-color: transparent;
    --uia-scroller-track-color: transparent;
}


.page__logo{
    --uia-logo-font-size: var(--font-size-2xs);
    --uia-logo-first-name-padding: var(--space-2xs) var(--space-m);
    --uia-logo-first-name-background-color: var(--main-color);
    --uia-logo-last-name-gap: var(--space-m);
}


/*
if your last name less than the first name, delete current .page__logo and use the following CSS


.page__logo{
--uia-logo-display: flex;
--uia-logo-gap: var(--space-2xs);
--uia-logo-font-size: var(--font-size-s);
--uia-logo-first-name-padding: var(--space-2xs) var(--space-xs);
--uia-logo-first-name-background-color: var(--main-color);  
--uia-logo-last-name-gap: var(--space-2xs);
--uia-logo-last-name-font-size: var(--font-size-m);


align-items: baseline;
}
*/


.page__navigation:focus-within{
    --ha-screen-reader-width: auto;
    --ha-screen-reader-clip-path: initial;
    --ha-screen-reader-height: auto;


    background-color: var(--assistive-color);
    box-shadow: var(--page-material-box-shadow);


    inset-block-start: 0;
    inset-inline: 0;


    font-size: var(--font-size-2xs);
    font-weight: 700;
    text-transform: uppercase;
}


.page_navigation-group{
    padding: var(--space-s) var(--space-m);
}


.page_navigation-group:first-child{
    margin-inline-start: auto;
}


.page_navigation-group:last-child{
    margin-inline-end: auto;
}


.page__contacts{
    font-weight: 700;
}


.page__accounts{
    padding-block: var(--space-s);
}


.page__main{
    --uia-scroller-boundary-space: var(--space-2xs);
    --uia-scroller-gap: calc(var(--space-m) - var(--uia-scroller-boundary-space) *2);


    display: grid;
    gap: var(--space-4xl);
}


.page__section{
    display: grid;
}


.page__heading{
    font-size: var(--font-size-xs);
    text-transform: lowercase;  
}


.page__content{
    --uia-scroller-overscroll-behavior-block: auto;
    min-inline-size: 0;
}


.page__feedbacks{
    --scroller-scrollbar-track-background-color: var(--assistive-color);
    --uia-scroller-scrollbar-height: 12px;
    --uia-scroller-thumb-color: var(--accent-color-dark);
}


.page__feedbacks::-webkit-scrollbar-thumb{
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 8%, 26%, 0.25), inset -2px -2px 2px rgba(0, 0, 0, .25);
}


.page__feedbacks::-webkit-scrollbar-track{
    background-image:
        /* the start semicircle of the scroll bar */
        radial-gradient(
            circle,
            var(--scroller-scrollbar-track-background-color),
            var(--scroller-scrollbar-track-background-color) 50%,
            rgba(0, 0, 0, 0) 50%),


        /* the  end semicircle of the scroll bar */
        radial-gradient(
            circle,
            var(--scroller-scrollbar-track-background-color),
            var(--scroller-scrollbar-track-background-color) 50%,
            rgba(0, 0, 0, 0) 50%),


        /* the main part of the scroll bar */
        linear-gradient(
            90deg,
            var(--main-mode-color),
            var(--main-mode-color) 7px,
            var(--scroller-scrollbar-track-background-color) 7px,
            var(--scroller-scrollbar-track-background-color) calc(100% - 10px),
            var(--main-mode-color) calc(100% - 10px));
    background-size: 22px 22px, 22px 22px, cover;
    background-position: -3px center, right -3px center, 0 0;
    background-repeat: no-repeat;
}


.page__feedback{
    padding: var(--space-l) var(--uia-scroller-boundary-space);
}


.page__embed{
    --ds-focus-outline-width: 4px;
    --ds-focus-outline-offset: 0;
   
    box-sizing: border-box;
    block-size: 100%;
    padding: var(--space-3xl) var(--space-l) var(--space-2xl);


    font-style: italic;
    font-size: var(--font-size-s);  


    border-block-start: var(--space-2xs) solid var(--main-color-dark);
    box-shadow: var(--page-material-box-shadow);
    background-color: var(--assistive-color-light);
   
    scroll-margin-block-start: var(--space-l);
}


.page__uia-timeline{
    --uia-timeline-content-max-width: var(--page-text-max-width);
    --uia-timeline-group-gap: var(--space-m);
    --uia-timeline-name-flex-direction: row;
    --uia-timeline-name-font-size: var(--font-size-xl);
    --uia-timeline-date-font-size: var(--font-size-2xs);
    --uia-timeline-step-color: var(--main-color);
}


.page__footer{
    font-size: var(--font-size-2xs);
    text-align: center;
  color:#0f1012
}


@media (max-width: 500px){


    .page__section{
        gap: var(--space-l);
    }


    .page__feedbacks{
        --uia-scroller-visible-items-number: 1.1;
    }
}


@media (max-width: 960px){


    .page{
        background-color: var(--assistive-color)
    }


    .page__header{  
        padding-block-start: var(--space-l);
        background-color: var(--accent-color);
        box-shadow: var(--page-material-box-shadow);
    }


    .page__logo{
        --uia-logo-last-name-color: var(--main-mode-color);


        width: min-content;
        margin-inline: auto;
    }


    .page__contacts{
        --uia-control-line-display: none;


        background-color: var(--assistive-color);
        margin-block-start: var(--space-l);
        text-transform: uppercase;
        font-size: var(--font-size-2xs);
    }


    .page__accounts{
        padding-inline: var(--space-xl);
    }


    .page__account:first-child{
        /*
        - margins are used for even position without the conflict with scrolling
        like if justify-content is used


        */


        margin-inline-start: auto;
    }


    .page__account:last-child{
        /*
        - margins are used for even position without the conflict with scrolling
        like if justify-content is used


        */


        margin-inline-end: auto;
    }


    .page__main{
        margin-block-start: var(--space-2xl);
        border-block-start: var(--space-2xs) solid var(--accent-color);
        background-color: var(--main-mode-color);
        padding: var(--space-4xl) var(--space-xl);
    }


    .page__footer{
        padding-block: var(--space-m);
    }
}


@media (min-width: 681px){


    .page__section{
        grid-template-columns: repeat(12, 1fr);
        align-items: flex-start;
    }


    .page__heading{
        grid-column: span 3;
    }


    .page__content{
        padding-block-start: var(--space-4xl);
        grid-column: span 9;
    }
}


@media (min-width: 681px) and (max-width: 1024px){


    .page__feedbacks{
        --uia-scroller-visible-items-number: 1.2;
    }
}


@media (min-width: 961px){


    .page{
        background-color: var(--main-mode-color);
        border: var(--space-xs) solid var(--accent-color);
    }


    .page__container{
        max-width: 89.5rem;
        margin-inline: auto;
        padding: var(--space-4xl) var(--space-4xl) var(--space-l);
    }


    .page__header{      
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .page__contacts{
        --uia-control-padding: var(
        --space-xs) var(--space-2xs);
        --uia-control-line-start-height: var(
        --space-xs);
        --uia-control-line-color: #6d47d9;
        font-size: var(--font-size-s);
        text-transform: lowercase;
    }


    .page__accounts{
        padding-inline: var(--space-xs);
    }


    .page__main{
        margin-block-start: var(--space-4xl);
        padding-block: var(--space-m) var(--space-4xl);
    }


    .page__my-story{
        width: min(100%, var(--page-text-max-width));
    }
}


@media (min-width: 1025px){


    .page__feedbacks{
        --uia-scroller-visible-items-number: 2.2;
    }
}


@media (min-width: 1201px){


    .page__experience{
        padding-inline-start: 12%;
    }
}


/*
=====
MY PROMO
=====
*/
/* Please, don't fear to delete the following CSS. It doesn't affect the template.  */


.do-not-forget-to-delete-it{
    display: block;
    padding-block-end: var(--space-xl);
    margin-block-end: var(--space-m);
    padding-inline: var(--space-xl);
    background-color: var(--main-mode-color);
    position: relative;
    isolation: isolate;
}


.do-not-forget-to-delete-it::before{
    content: "";
    inset: calc(-1  * var(--space-2xl)) 0 0;
    position: absolute;
    background-color: var(--main-mode-color);
    z-index: -1;
}


.page__substack{
    --substack-background-color: #fff3ed;  
    --substack-button-background-color: #ffd3bd;
    --substack-button-border-color: #ffa87c;


    --uia-control-border-radius: 1.5rem;    
    --uia-control-padding: var(--space-s) var(--space-m);
    --uia-control-border-width: 2px;
    --uia-control-border-color: var(--substack-button-border-color);
    --uia-control-background-color: var(--substack-button-background-color);


    box-sizing: border-box;
    width: min(35rem, 100%);
    margin-inline: auto;
}


@media (prefers-color-scheme: dark){


    .page__substack{
        --substack-background-color: #272c35;
        --substack-button-background-color: #3a3c8d;
        --substack-button-border-color: #292a65;
    }
}


.page__widget{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;


    gap: var(--space-s) var(--space-l);
    font-size: .75rem;


    background-color: var(--substack-background-color);
    padding: var(--space-l) var(--space-m);
    border-radius: .25rem;
}


.page__promo{
    min-inline-size: 50%;
    flex-basis: 0;
    flex-grow: 999;
}


.page__share{  
    flex-grow: 1;
    justify-content: center;    
}
---
